* {

    padding:0;
    margin: 0;
    box-sizing : border-box;
    

}
.logo img{

width:128.73px;
height: 50px;
color:#007185;
font-size: 14px;
margin: 1px;
padding:1px 8px 0px 6px;

}
.delivery {

width:186px;
height:16px;
color:#cccccc;
font-size: 12px;


}
.delivery-2-1 {

    width:15px;
    height:18px;
    margin:8px 0px 0px;}

    .delivery-2-2 {
        width:186px;
        height:16px;
        color:#ffffff;
        font-size: 14px;
        padding:0px 0px 1px;

    }

.icon {

    font-size:6px;
}
.country-section{

    font-size: 8px;
}
.eng{
    font-size:12px;
}
.icon-2{

    font-size:6px;
} 
.sign-in-container{
font-size:15px;
padding:10px;

}
.delivery {
    margin-bottom: 20px;
}
.cart-1{
font-size:30px;

}
.cart{
    font-size: 15px;
}
.bar{

    margin-left: 70px;
}
.container1:hover{

    border:1px solid white;
}
.code1:hover{
    
    border:1px solid white;
}
.b:hover{
    border:1px solid white; 
}
.offer{
width: 80px;
height:80px;
text-align: center;

}
.hello {
    font-size: 35px;
    margin-bottom: 3px;
}